POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=finance_management
POSTGRES_ADMIN_DATABASE=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
DATABASE_INIT_MAX_ATTEMPTS=30
DATABASE_INIT_RETRY_SECONDS=2

STOCK_SYNC_ENABLED=true
STOCK_SYNC_INITIAL_DELAY_MS=10000
STOCK_SYNC_FIXED_DELAY_MS=120000
STOCK_SYNC_REQUEST_INTERVAL_MS=1500
STOCK_SYNC_START_TIME=09:29
STOCK_SYNC_END_TIME=16:00
STOCK_SYNC_TIMEZONE=Asia/Shanghai

INFLUXDB_PORT=8086
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=
INFLUXDB_ORG=finance
INFLUXDB_BUCKET=stock_intraday
INFLUXDB_ADMIN_TOKEN=
INFLUXDB_URL=http://localhost:8086
INFLUXDB_STOCK_MINUTE_MEASUREMENT=stock_minute
INFLUXDB_TIMEZONE=Asia/Shanghai

DASHSCOPE_API_KEY=
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode
DASHSCOPE_MODEL=qwen3-plus
DASHSCOPE_TEMPERATURE=0.3
